html {
    font-family: Roboto;
}

body {
    margin: 0px;
}

.header {
    display: flex;
    background-color: #1f2937;
    padding: 15px 200px;
}

.header div {
    flex: 1 1 auto;
    color: white;
}

.header-links {
    display: flex;
    justify-content: right;
    gap: 25px;
    align-items: center;
}

.header-logo {
    font-weight: 700;
    font-size: 26px;
}

.header-links a {
    text-decoration: none;
    color: #e5e7eb;
}